@media (min-width: 320px) {
  .my-hero-div {
    background-image: url("https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1020&q=80");
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed;
    position: relative;
  }
  .my-hero-div h1 {
    font-size: 5rem;
    text-align: center;
    height: 7vh;
    line-height: 1vh;
    color: #fcedd8;
    /* background: #d52e3f; */
    font-family: "Niconne", cursive;
    font-weight: 700;
    text-shadow: 5px 5px 0px #eb452b, 10px 10px 0px #efa032,
      15px 15px 0px #46b59b;
  }
}

@media (min-width: 650px) {
  .my-hero-div {
    background-image: url("https://images.unsplash.com/photo-1627483297929-37f416fec7cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 79vh;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed;
    position: relative;
  }

  .my-hero-div h1 {
    font-size: 7rem;
    text-align: center;
    height: 7vh;
    line-height: 1vh;
    color: #fcedd8;
    /* background: #d52e3f; */
    font-family: "Niconne", cursive;
    font-weight: 700;
    text-shadow: 5px 5px 0px #eb452b, 10px 10px 0px #efa032,
      15px 15px 0px #46b59b;
  }
}
@media (min-width: 1025px) {
  .my-hero-div {
    background-image: url("https://images.unsplash.com/photo-1627483298235-f3bac2567c1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    display: flex;
    flex-direction: column;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed;
    position: relative;
  }
  .my-hero-div h1 {
    font-size: 12rem;
    text-align: center;
    height: 7vh;
    line-height: 1vh;
    color: #fcedd8;
    /* background: #d52e3f; */
    font-family: "Niconne", cursive;
    font-weight: 700;
    text-shadow: 5px 5px 0px #eb452b, 10px 10px 0px #efa032,
      15px 15px 0px #46b59b;
  }
}
