/* Write your global CSS here */
/* Note that you don't need to do Normalization as react-bootstrap does it for us */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.App {
  height: 100vh;
}

.main-home-div {
  background-color: #ffffff;
}

/* home comps media query */

@media (min-width: 320px) {
  .home-items-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 150px;
    margin-bottom: 150px;
    /* background-color: rgb(49, 49, 59); */
    width: 100%;
    border-radius: 3px;
  }
}

@media (min-width: 650px) {
  .home-items-container {
    padding-right: 75px;
    padding-left: 75px;
    margin-top: 150px;
    margin-bottom: 150px;
    /* background-color: red; */
    width: 100%;
    border-radius: 3px;
  }
}

@media (min-width: 1025px) {
  .home-items-container {
    padding-right: 200px;
    padding-left: 200px;
    margin-top: 150px;
    margin-bottom: 150px;
    /* background-color: purple; */
    width: 100%;
    border-radius: 3px;
  }
}

.carousel-img {
  object-fit: cover;
}

/* .featured-section {
  background-color: black;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
} */

.card-div {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  align-items: center;
  /* background-color: red; */
}

/* Category Hero Page */

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 100px;
}
.category {
  padding-top: 50px;
  /* background-color: black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.single-category {
  background-color: orange;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  display: flex;
  justify-content: center;
  margin: 10px;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: all 0.2s ease-in-out;
}

.single-category:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 60px -10px black;
}

.category-comp-titles {
  list-style: none;
  position: absolute;
  top: 70px;
  color: white;
}
/* Register Page */
.register-container {
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/6984661/pexels-photo-6984661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      center; */
  background-color: teal;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-wrapper {
  width: 40%;
  padding: 20px;
  background-color: white;
}

.register-wrapper title {
  font-size: 24px;
  font-weight: 300;
}

.register-wrapper form {
  display: flex;
  flex-wrap: wrap;
}

.register-wrapper input {
  flex: 1;
  min-width: 40%;
  margin: 20px 10px 0px 0px;
  padding: 10px;
}

.register-wrapper agreement {
  font-size: 12px;
  margin: 20px 0px;
}

.register-wrapper button {
  width: 40%;
  border: none;
  padding: 15px 20px;
  background-color: teal;
  color: white;
  cursor: pointer;
}

/* Login Page */

.login-container {
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/6984650/pexels-photo-6984650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      center; */
  background-color: teal;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container wrapper {
  width: 25%;
  padding: 20px;
  background-color: white;
}

.login-container title {
  font-size: 24px;
  font-weight: 300;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  flex: 1;
  min-width: 40%;
  margin: 10px 0;
  padding: 10px;
}
.login-container button {
  width: 40%;
  border: none;
  padding: 15px 20px;
  background-color: teal;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.login-container a {
  margin: 5px 0px;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

/* productPage */

.product-details h1 {
  color: black;
}

.product-details p {
  color: black;
}

.product-details a {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}
@media screen and (min-width: 320px) {
  .product-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: teal; */
    justify-content: center;
    align-items: center;
  }

  .product-image img {
    width: 300px;
    /* overflow: hidden; */
  }
}
@media screen and (min-width: 641px) {
  .product-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: teal; */
    justify-content: space-around;
    align-items: center;
  }

  .product-image img {
    width: 300px;
    /* overflow: hidden; */
  }
}
@media screen and (min-width: 1025px) {
  .product-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: teal; */
    justify-content: space-around;
    align-items: center;
  }

  .product-image img {
    width: 300px;
    /* overflow: hidden; */
  }
}

/* Shopping Cart */

@media screen and (min-width: 320px) {
  .main-main-shopping-cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .shopping-cart-total {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: teal; */
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .main-shopping-cart-container {
    margin: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .shopping-cart-container {
    background-color: white;
    padding: 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

    margin-top: 50px;
    margin-bottom: 50px;
  }
  .shopping-cart-item-img img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
  }

  .shopping-cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 641px) {
  .main-main-shopping-cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .shopping-cart-total {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: teal; */
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .main-shopping-cart-container {
    margin: 0px;
  }

  .shopping-cart-container {
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
    /* flex-wrap: wrap; */
    /* height: 200px; */
  }

  .shopping-cart-item-img {
    width: 100%;
    height: 300px;
  }

  .shopping-cart-item-img img {
    max-width: 100%;
    max-height: 100%;
  }

  .shopping-cart-item-details {
    /* background-color: blueviolet; */
    width: 700px;
    margin-right: 100px;
  }
}
@media screen and (min-width: 1025px) {
  .main-main-shopping-cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .shopping-cart-total {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: teal; */
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .main-shopping-cart-container {
    margin: 0px;
  }

  .shopping-cart-container {
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
    /* flex-wrap: wrap; */
    /* height: 200px; */
  }

  .shopping-cart-item-img {
    width: 100%;
    height: 300px;
  }

  .shopping-cart-item-img img {
    max-width: 100%;
    max-height: 100%;
  }

  .shopping-cart-item-details {
    /* background-color: blueviolet; */
    width: 700px;
    margin-right: 100px;
  }
}

/* .shopping-cart-icon {
  color: black;
} */

.nav-bar-cart-icon a {
  color: blue;
  font-size: large;
}
