/* Write your global CSS here */
/* Note that you don't need to do Normalization as react-bootstrap does it for us */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
.App {
  height: 100vh;
}

.main-home-div {
  background-color: #ffffff;
}

@media (min-width: 320px) {
  .my-hero-div {
    background-image: url("https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1020&q=80");
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .my-hero-div h1 {
    font-size: 5rem;
    text-align: center;
    height: 7vh;
    line-height: 1vh;
    color: #fcedd8;
    /* background: #d52e3f; */
    font-family: "Niconne", cursive;
    font-weight: 700;
    text-shadow: 5px 5px 0px #eb452b, 10px 10px 0px #efa032,
      15px 15px 0px #46b59b;
  }
}

@media (min-width: 650px) {
  .my-hero-div {
    background-image: url("https://images.unsplash.com/photo-1627483297929-37f416fec7cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 79vh;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed;
    position: relative;
  }

  .my-hero-div h1 {
    font-size: 7rem;
    text-align: center;
    height: 7vh;
    line-height: 1vh;
    color: #fcedd8;
    /* background: #d52e3f; */
    font-family: "Niconne", cursive;
    font-weight: 700;
    text-shadow: 5px 5px 0px #eb452b, 10px 10px 0px #efa032,
      15px 15px 0px #46b59b;
  }
}
@media (min-width: 1025px) {
  .my-hero-div {
    background-image: url("https://images.unsplash.com/photo-1627483298235-f3bac2567c1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    display: flex;
    flex-direction: column;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed;
    position: relative;
  }
  .my-hero-div h1 {
    font-size: 12rem;
    text-align: center;
    height: 7vh;
    line-height: 1vh;
    color: #fcedd8;
    /* background: #d52e3f; */
    font-family: "Niconne", cursive;
    font-weight: 700;
    text-shadow: 5px 5px 0px #eb452b, 10px 10px 0px #efa032,
      15px 15px 0px #46b59b;
  }
}

/* .my-hero-div img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
} */

/* home comps media query */

@media (min-width: 320px) {
  .home-items-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 150px;
    margin-bottom: 150px;
    /* background-color: rgb(49, 49, 59); */
    width: 100%;
    border-radius: 3px;
  }
}

@media (min-width: 650px) {
  .home-items-container {
    padding-right: 75px;
    padding-left: 75px;
    margin-top: 150px;
    margin-bottom: 150px;
    /* background-color: red; */
    width: 100%;
    border-radius: 3px;
  }
}

@media (min-width: 1025px) {
  .home-items-container {
    padding-right: 200px;
    padding-left: 200px;
    margin-top: 150px;
    margin-bottom: 150px;
    /* background-color: purple; */
    width: 100%;
    border-radius: 3px;
  }
}

.carousel-img {
  object-fit: cover;
}

.card-div {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  align-items: center;
  /* background-color: red; */
}

/* Category Hero Page */

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-top: 120px;
  padding-bottom: 300px;
}
.category {
  padding-top: 50px;
  /* background-color: black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.single-category {
  background-color: orange;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  display: flex;
  justify-content: center;
  margin: 10px;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: all 0.2s ease-in-out;
}

.single-category:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 60px -10px black;
}

.category-comp-titles {
  list-style: none;
  position: absolute;
  top: 70px;
  color: white;
}
/* Register Page */
.register-container {
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/6984661/pexels-photo-6984661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      center; */
  /* background-color: teal; */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 320px) {
  .register-wrapper {
    width: 90%;
    padding: 20px;
    background-color: white;
  }
}
@media (min-width: 650px) {
  .register-wrapper {
    width: 70%;
    padding: 20px;
    background-color: white;
  }
}
@media (min-width: 1025px) {
  .register-wrapper {
    width: 40%;
    padding: 20px;
    background-color: white;
  }
}

.register-wrapper title {
  font-size: 24px;
  font-weight: 300;
}

.register-wrapper form {
  display: flex;
  flex-wrap: wrap;
}

.register-wrapper input {
  flex: 1;
  min-width: 40%;
  margin: 20px 10px 0px 0px;
  padding: 10px;
}

.register-wrapper agreement {
  font-size: 12px;
  margin: 20px 0px;
}

.register-wrapper button {
  width: 40%;
  border: none;
  padding: 15px 20px;
  background-color: teal;
  color: white;
  cursor: pointer;
}

/* Login Page */

.login-container {
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/6984650/pexels-photo-6984650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      center; */
  /* background-color: teal; */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 320px) {
  .login-container wrapper {
    width: 65%;
    padding: 20px;
    background-color: white;
  }
}
@media (min-width: 650px) {
  .login-container wrapper {
    width: 45%;
    padding: 20px;
    background-color: white;
  }
}
@media (min-width: 1025px) {
  .login-container wrapper {
    width: 25%;
    padding: 20px;
    background-color: white;
  }
}
/* .login-container wrapper {
  width: 25%;
  padding: 20px;
  background-color: white;
} */

.login-container title {
  font-size: 24px;
  font-weight: 300;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  flex: 1;
  min-width: 40%;
  margin: 10px 0;
  padding: 10px;
}
.login-container button {
  width: 40%;
  border: none;
  padding: 15px 20px;
  background-color: teal;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.login-container a {
  margin: 5px 0px;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

/* productPage */

.product-details h1 {
  color: black;
}

.product-details p {
  color: black;
}

.product-details a {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}
@media screen and (min-width: 320px) {
  .product-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: teal; */
    justify-content: center;
    align-items: center;
  }

  .product-image img {
    width: 300px;
    /* overflow: hidden; */
  }
}
@media screen and (min-width: 641px) {
  .product-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: teal; */
    justify-content: space-around;
    align-items: center;
  }

  .product-image img {
    width: 300px;
    /* overflow: hidden; */
  }
}
@media screen and (min-width: 1025px) {
  .product-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: teal; */
    justify-content: space-around;
    align-items: center;
  }

  .product-image img {
    width: 300px;
    /* overflow: hidden; */
  }
}

/* Shopping Cart */

@media screen and (min-width: 320px) {
  .main-main-shopping-cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .shopping-cart-total {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin-top: 300px;
    margin-bottom: 300px;
  }
  .main-shopping-cart-container {
    margin: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .shopping-cart-container {
    background-color: white;
    padding: 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

    margin-top: 50px;
    margin-bottom: 50px;
  }
  .shopping-cart-item-img img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
  }

  .shopping-cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 641px) {
  .main-main-shopping-cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .shopping-cart-total {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: teal; */
    width: 100%;
    margin-top: 300px;
    margin-bottom: 300px;
  }

  .main-shopping-cart-container {
    margin: 0px;
  }

  .shopping-cart-container {
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
    /* flex-wrap: wrap; */
    /* height: 200px; */
  }

  .shopping-cart-item-img {
    width: 100%;
    height: 300px;
  }

  .shopping-cart-item-img img {
    max-width: 100%;
    max-height: 100%;
  }

  .shopping-cart-item-details {
    /* background-color: blueviolet; */
    width: 700px;
    margin-right: 100px;
  }
}
@media screen and (min-width: 1025px) {
  .main-main-shopping-cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .shopping-cart-total {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: teal; */
    width: 100%;
    margin-top: 300px;
    margin-bottom: 300px;
  }
  .main-shopping-cart-container {
    margin: 0px;
  }

  .shopping-cart-container {
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
    /* flex-wrap: wrap; */
    /* height: 200px; */
  }

  .shopping-cart-item-img {
    width: 100%;
    height: 300px;
  }

  .shopping-cart-item-img img {
    max-width: 100%;
    max-height: 100%;
  }

  .shopping-cart-item-details {
    /* background-color: blueviolet; */
    width: 700px;
    margin-right: 100px;
  }
}

/* .shopping-cart-icon {
  color: black;
} */

.nav-bar-cart-icon a {
  color: blue;
  font-size: large;
}
