.card-div {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  align-items: center;
  /* background-color: red; */
}

/* Featured Cards */

a {
  text-decoration: none;
}
/* //////////////////////////////////
//////////
////////////// */
@media screen and (min-width: 320px) {
  .product-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
  }

  .badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: yellow;
    color: rgb(32, 32, 34);
    padding: 3px 10px;
  }

  .product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
  }

  .product-tumb img {
    max-width: 100%;
    max-height: 100%;
  }

  .product-details {
    padding: 30px;
  }

  .product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
  }

  .product-details h5 a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
  }

  .product-details h5 a:hover {
    color: #fbb72c;
  }

  .product-details h5 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
  }

  .product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
  }

  .product-bottom-details div {
    float: left;
    width: 50%;
  }

  .product-price {
    font-size: 16px;
    padding-top: 22px;
    color: #fbb72c;
    font-weight: 600;
  }

  .product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
  }

  .product-links {
    text-align: right;
  }

  .product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
  }

  .product-links a:hover {
    color: #fbb72c;
  }
}

/* //////////
/
/
/
/
///////////////// */

@media screen and (min-width: 641px) {
  .product-card {
    width: 280px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
  }

  .badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
  }

  .product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 5px;
    background: #f0f0f0;
  }

  .product-tumb img {
    max-width: 100%;
    max-height: 100%;
  }

  .product-details {
    padding: 30px;
    height: 200px;
    margin-bottom: 20px;
  }

  .product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 10px;
  }

  .product-details h5 a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    /* font-size: 14px; */
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
  }

  .product-details h5 a:hover {
    color: #fbb72c;
  }

  .product-details h5 {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
  }

  .product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
  }

  .product-bottom-details div {
    float: left;
    width: 50%;
  }

  .product-price {
    font-size: 16px;
    padding-top: 22px;
    color: #fbb72c;
    font-weight: 600;
  }

  .product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
  }

  .product-links {
    text-align: right;
  }

  .product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
  }

  .product-links a:hover {
    color: #fbb72c;
  }
}
/* ////////////
/
/
/
////////////// */
@media screen and (min-width: 1025px) {
  .product-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
  }

  .badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
  }

  .product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
  }

  .product-tumb img {
    max-width: 100%;
    max-height: 100%;
  }

  .product-details {
    padding: 30px;
  }

  .product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
  }

  .product-details h5 a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
  }

  .product-details h5 a:hover {
    color: #fbb72c;
  }

  .product-details h5 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
  }

  .product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
  }

  .product-bottom-details div {
    float: left;
    width: 50%;
  }

  .product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
  }

  .product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
  }

  .product-links {
    text-align: right;
  }

  .product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
  }

  .product-links a:hover {
    color: #fbb72c;
  }
}
